*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first{ 
    height: 25px;
    width: 100%;
    font-size: 12px;
    background-color: #b1b1b1;
    color: #6e6e6e;
}

.one1{ 
    padding: 2px 9px;
}

.Second{ 
    height: 25px;
    width: 100%;
    font-size: 12px;
    background-color: #b1b1b1;
    color: #6e6e6e;
}

.tow2 {
    padding: 2px 9px;
}

/* nav-bar start */

.logo1{ 
    width: 230px;
    height: 70px;
    margin: 20px 0px 0px 20px;
}

.nav-bar{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px 0px 0px -14rem;
}

.list-nav{ 
    gap: 30px;
    font-size: 15px;
    justify-content: start;
}


.list-nav{
     display: flex;
     justify-content: center;
}

input{ 
    border-radius: 5px;
}

.login{ 
    padding: 12px;
    text-align: center;
    height: 50px;
    background-color: #701e7d;
    color: #ffd400;
    margin: 0px -19rem 0px 0px;
}

span{ 
    color: white;
}

/* nav-bar end */

/* wallpaper start */

.img-fluid {
    width: 100%;
    height: 100%;
}

/* wallpaper end */


/* main stert */

main{ 
    display: flex;
    justify-content: space-between;
    gap: -19rem;
}

.card{ 
    margin: 40px ;
    width: 800rem;
    border: none;
}


.card-img-top{ 
    height: 200px;
}

.card-title{ 
    font-size: 16px;
    font-weight: 500px;
    text-align: center;
    color: #701e7d;
}

.card-text{ 
    font-size: 11px;
    color: #6e6e6e;
    text-align: center;
}

/* main end */



/* contect start */

.hs{ 
    background-color: #701e7d;
    align-items: center;
}


.heading-1 {
    color: beige;
    background-color: #701e7d;
    text-align: center;
    font-size: 40px;
    margin: 10px 0px 60px 0px;
}



.contects{ 
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 32rem;
    background-color: #701e7d;
}

.im {
    margin: 1rem;
}

img{ 
    width: 160px;
    height: 160px;
}

img:hover {
    background-color: #ffd400;
    color: #6e6e6e;
    cursor: pointer;
}

.cont{ 
    color: white;
    text-align: center;
}

.im-text{ 
    color: white;
    text-align: center;
}


/* contect end */



/* Awards start */

.Awards { 
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    margin: 0px 0px 70px;
}

.and10{ 
    color: #6e6e6e;
    font-size: 40px;
}

.and0{ 
   width: 150px;
   height: 100px;
}

.re{ 
    text-align: center;
    margin: 30px;
    color: #701e7d;
}

/* Awards end */

/* footer start */

.foots{ 
    width: 100%;
    height: 100%;
}

/* footer end */